h2 > span {
    padding: .5rem 1rem;
    background-color: #0c4646;
    color: white;
}

h3 > span {
    border-bottom: 1px solid;
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list:not(:last-child) {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.list-inner:not(:last-child) {
    display: inline-block;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
